.feedback-bg {
    background-image: linear-gradient(blue, rgb(216, 14, 209));
}

.stop-writing {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-blend-mode: overlay;
}